<form class="example-auto-form">
  <mat-form-field class="example-full-width">
    <input type="text" placeholder="Filtered autocomplete" aria-label="Number" matInput
      [formControl]="myControlAuto" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption>
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>

<br>
<br>

<form class="example-plain-form">
  <mat-form-field class="example-full-width">
    <input type="text" placeholder="Plain autocomplete" aria-label="Number" matInput
      [formControl]="myControlPlain" [matAutocomplete]="plain">
    <mat-autocomplete #plain="matAutocomplete">
      <mat-option *ngFor="let option of options" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>

<br>
<br>

<a color="primary" mat-raised-button href="https://jamibot.com" target="_blank">Learn more from Jami Bot</a>